---
Checks: >
  -*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  clang-diagnostic-*,
  concurrency-*,
  cppcoreguidelines-*,
  google-*,
  hicpp-*,
  llvm-*,
  misc-*,
  modernize-*,
  performance-*,
  readability-*,
  -cert-dcl21-cpp,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-type-vararg,
  -google-readability-namespace-comments,
  -google-runtime-int,
  -hicpp-special-member-functions,
  -llvm-include-order,
  -llvm-namespace-comment,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,

# Note: cppcoreguidelines-pro-bounds-array-to-pointer-decay is disabled because
# using 'assert' triggers this warning.
# llvm-namespace-comment and google-readability-namespace-comments don't support
# C++17 foo::bar comments yet.
# hicpp-special-member-functions: redirects to cppcoreguidelines-special-member-functions
# cppcoreguidelines-avoid-magic-numbers: redirects to readability-magic-numbers
# modernize-use-nodiscard: too noisy
# modernize-use-trailing-return-type: not for now

HeaderFilterRegex: '.*'
CheckOptions:
  cppcoreguidelines-special-member-functions.AllowMissingMoveFunctions: true
  llvm-namespace-comment.ShortNamespaceLines: 20
  # Ignore concept headers (which are not understood) until clang-tidy 18 is released.
  misc-include-cleaner.IgnoreHeaders: >
    concepts;
    brwt/concepts.h;
  readability-braces-around-statements.ShortStatementLines: 2
  readability-identifier-length.IgnoredParameterNames: '^[abcxyzn]$'
  readability-identifier-naming.ClassCase: lower_case
  readability-identifier-naming.EnumCase: lower_case
  readability-identifier-naming.FunctionCase: lower_case
  readability-identifier-naming.TemplateParameterCase: CamelCase
  readability-identifier-naming.UnionCase: lower_case
  readability-identifier-naming.VariableCase: lower_case
