BasedOnStyle: LLVM
---
Language: Cpp
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
IncludeCategories:
  - Regex:           '^"brwt/'           # BRWT headers
    Priority:        2
  - Regex:           '^".+"$'            # Private headers
    Priority:        1
  - Regex:           '^<.+/.+>$'         # Non-standard headers
    Priority:        3
  - Regex:           '^<[_[:alnum:]]+>$' # Standard headers
    Priority:        4
  - Regex:           '.*'                # Others (like unistd.h)
    Priority:        5
IncludeIsMainRegex: '(_test|_bench)?$'
IndentPPDirectives: AfterHash
PointerAlignment: Left
---
Language: Json
IndentWidth: 2
